[submodule "external/ckChangeLog"]
	path = external/ckChangeLog
	url = https://github.com/cketti/ckChangeLog.git
[submodule "external/actionbarsherlock"]
	path = external/actionbarsherlock
	url = https://github.com/JakeWharton/ActionBarSherlock.git
[submodule "external/Volley"]
	path = external/Volley
	url = https://android.googlesource.com/platform/frameworks/volley
[submodule "external/messagebar"]
	path = external/messagebar
	url = https://github.com/MichaelFlisar/MessageBar.git
[submodule "external/storageutils"]
	path = external/storageutils
	url = https://github.com/uberspot/AndroidStorageUtils.git
