/*
!README.md
!src/
!res/
!libs/
!LICENSE
!.gitignore
!.gitmodules
!ic_launcher-web.png
!assets/
!AndroidManifest.xml
!external/
!.classpath
!screenshots/
!makeSig.sh
!DebianDroid.apk*
!project.properties
