[submodule "external/ckChangeLog"]
	path = external/ckChangeLog
	url = git@github.com:cketti/ckChangeLog.git
[submodule "external/actionbarsherlock"]
	path = external/actionbarsherlock
	url = git@github.com:JakeWharton/ActionBarSherlock.git
[submodule "external/Volley"]
	path = external/Volley
	url = https://android.googlesource.com/platform/frameworks/volley
[submodule "external/messagebar"]
	path = external/messagebar
	url = git@github.com:MichaelFlisar/MessageBar.git
[submodule "external/storageutils"]
	path = external/storageutils
	url = git@github.com:uberspot/AndroidStorageUtils.git
