/*
!README.md
!src/
!res/
!libs/
!LICENSE
!.gitignore
!ic_launcher-web.png
!assets/
!AndroidManifest.xml
!actionbarsherlock/
!.settings/
!.classpath
!screenshot*.png
!DebianDroid.apk*
!project.properties
actionbarsherlock/bin/
